<h1>All Pets</h1>
<% @pets.each do |pet| %>
  <h2><%= pet.name %></h2>
  <p><%= pet.age.to_s %></p>
  <p><%= pet.sex %></p>
  <p><%= pet.shelter_name %></p>
  <%= image_tag(image_path(pet.image_path)) %>
<% end %>
